.container {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0 auto;
  font-family: "Montserrat-Regular";
  color: var(--darkTextColor);

  h4 {
    margin: 0;
  }
}

.heading {
  font-size: 22px;
  font-weight: 700;
  margin: 16px 0;
}

.text {
  font-size: 16px;
  color: var(--darkTextColor);
  line-height: 1.6;
  margin: 0;

  code {
    background: var(--codeBg);
    margin: 0 2.5px;
    padding: 2.5px 5px;
    border-radius: 2.5px;
  }
}

.inlineCode {
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "Courier New", monospace;
}

.codeBlock {
  background-color: var(--codeBlockBg);
  border-radius: 8px;
  margin: 12px 0;
  overflow-x: auto;
}

.codeHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--codeHeaderBg);
  color: var(--codeHeaderColor);
  font-size: 14px;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 8px 8px 0 0;
}

.code {
  background-color: var(--codeBg);
  color: var(--codeTextColor);
  font-family: "Courier New", monospace;
  padding: 12px;
  border-radius: 0 0 8px 8px;
  white-space: pre-wrap;
  line-height: 1.6;
  font-size: 14px;
  margin: 0;
}

.orderedList,
.unorderedList {
  padding-left: 20px;
  margin-top: 10px;
}

.orderedList li,
.unorderedList li {
  font-size: 16px;
  color: var(--darkTextColor);
  margin-bottom: 5px;

  h4 {
    margin: 0 0 5px;
  }
}

// Адаптивность
@media (max-width: 768px) {
  .container {
    padding: 16px;
  }
  .heading {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
  }

  .codeHeader {
    font-size: 13px;
    padding: 6px 12px;
  }

  .code {
    font-size: 13px;
    padding: 10px;
  }

  .orderedList,
  .unorderedList {
    li {
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .container {
    padding: 12px;
  }
  .heading {
    font-size: 18px;
  }

  .text {
    font-size: 12px;
  }

  .codeHeader {
    font-size: 12px;
    padding: 5px 10px;
  }

  .code {
    font-size: 12px;
    padding: 8px;
  }

  .orderedList,
  .unorderedList {
    li {
      font-size: 12px;
    }
  }
}
