@import url("/fonts/fonts.css");

[data-theme="dark"] {
  --bgColor: #3f3f3f; /* #3F3F3F -dark; #f5f5f5 -light */
  --headerBgColor: #121212; /* #121212 -dark; #ffffff -light */
  --darkTextColor: #f0f0f0; /* #F0F0F0 -dark; #515151 -light*/
  --timeColor: #a0a0a0;
  --botMessageContentBg: #292929;
  --userMessageContentBg: #00a3ff;
  --botMessageContentColor: #ffffff;
  --userMessageContentColor: #ffffff;
  --strokeColor: #303030; /* #303030 -dark; #dfdfdf -light*/
  --inputPlaceholder: #a0a0a0; /* #A0A0A0 -dark; #A0A0A0 -light */
  --blueColor: #00a3ff;

  --codeBlockBg: #dadada;
  --codeHeaderBg: #3c3c3c;
  --codeHeaderColor: #dcdcdc;
  --codeBg: #1e1e1e;
  --codeTextColor: #d9d9d9;

  --primary-red-dark: #e74c3c;
  --hover-red-dark: #c0392b;
  --active-red-dark: #d43f3a;

  --white: #ffffff;
  --black: #333333;
  --border-radius: 8px;
}

[data-theme="light"] {
  --bgColor: #f5f5f5; /* #3F3F3F -dark; #f5f5f5 -light */
  --headerBgColor: #ffffff; /* #121212 -dark; #ffffff -light */
  --darkTextColor: #515151; /* #F0F0F0 -dark; #515151 -light*/
  --timeColor: #a0a0a0;
  --botMessageContentBg: #ffffff;
  --userMessageContentBg: #00a3ff;
  --botMessageContentColor: #515151;
  --userMessageContentColor: #ffffff;
  --strokeColor: #dfdfdf; /* #303030 -dark; #dfdfdf -light*/
  --inputPlaceholder: #a0a0a0; /* #A0A0A0 -dark; #A0A0A0 -light */
  --blueColor: #00a3ff;

  --codeBlockBg: #222;
  --codeHeaderBg: #e0e0e0;
  --codeHeaderColor: #333;
  --codeBg: #f0f0f0;
  --codeTextColor: #222;

  --primary-red-light: #ff6b6b;
  --hover-red-light: #ff4d4d;
  --active-red-light: #e04d4d;

  --white: #ffffff;
  --black: #333333;
  --border-radius: 8px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bgColor);
  margin: 0;
  /* 
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  } */
}
